{% load static %}
<style>
    .hello-msg{
        font-size:18px;
        color:black;
        margin-right: 20px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{% static 'images/hpeLogo.png' %}" height="50px" width="150px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% if request.user.is_staff %}
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Dashboard</a>
            <a class="nav-item nav-link" href="{% url 'products' %}">Products</a>
        </div>
        {% else %}
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'user-page' %}">Dashboard</a>
            <a class="nav-item nav-link active" href="{% url 'account' %}">Settings</a>
        </div>
        {% endif %}
    </div>
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>